@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: 'EB Garamond', Georgia, Times, 'Times New Roman', serif;
    background: url(./book.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    margin-left: 30px;
}

figure {
    margin: auto;
    margin-top: 20px;
    width: 75%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
}

figcaption {
    display: inline-block;
    text-align: center;
    width: 70%;
}

section {
    padding: 10px;
    margin: 30px;
    margin-left: 2.5%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

h2 {
    color: rgb(72, 53, 53);
}

aside {
    color: rgb(72, 53, 53);
}

a {
    color: rgb(99, 67, 67);
}

nav {
    padding: 10px;
    display: inline-block;
    width: fit-content;
}

nav span {
    color: rgb(46, 35, 35);
    text-decoration: underline;
}

nav a {
    color:rgba(99, 67, 67, 0);
    transition: color 0.3s ease;
}

nav:hover a {
    display: inline;
    color: rgba(99, 67, 67, 1);
}

footer {
    text-align: center;
}

.quote {
    font-size: 1.25rem;
    display: block;
    margin: 20px;
    display: block;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

#signature {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.center-vertical {
    display: flex;
    align-items: center;
}

#product_image {
    border-radius: 30px;
    width: 30%;
}