nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* idk if this is too much */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    min-width: 80px;
}

nav ul li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 0%;
    height: 1.1rem;
    background: #878dc0;
    top: 1.3rem;
    left: 50%;
    transition: all 0.5s ease;
}

nav ul li:hover::before {
    left: 10%;
    width: 80%;
}
